{% extends "index.html" %}

{% load widget_tweaks %} 
{% load static %}

{% block extrascripts %}
{% endblock %}

{% block maincontent %}
	<!-- Login -->
	<div class="widget">
		<div class="title">  <span id="title0">Login</span>  </div>
		<div class="widget" >
			{% if messages %}		
			    {% for message in messages %}
			    	<div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
			    {% endfor %}	
			{% endif %}

			{% if form.error %}
				<p class"error"> Ungültige Eingabe von Benutzername und/oder Passwort! </p>
			{% endif %}

			<!-- Login Form -->
			{% if next %}
			<form action="/users/auth?next={{next}}" method="post" >
			{% else %}
			<form action="/users/auth" method="post">
			{% endif %}
				{% csrf_token %}
				<div class="form-group">
					<label for="username">Benutzername/E-Mail: </label>
					<input class="form-control" type="text" name="username" value="" id="username"> <br>
					<label for="password">Passwort: </label>
					<input class="form-control" type="password" name="password" value="" id="password">
					<span class="form-text text-muted">
						<a  href="{% url 'password_reset' %}">Forgot Your Password? Reset Your Password Here</a>
					</span>
				</div>
				<button class="std_btn" type="submit">Login</button>
				
				
			</form>
		</div>
	</div>


	<!-- PW Reset -->
	<!--
	<div class="widget">
		<div class="title">  <span id="section0_title">Reset Password</span>  </div>
		<div class="widget">
			<h5> Forgot Your Password? Reset Your Password Via E-Mail: </h5>
			
			<form action="/UserProfiles/reset_password" method="post">
				<div class="form-group">
					<label for="email">E-Mail: </label>
					<input class="form-control" type="text" name="email" value="" id="email">
				</div>
				<button type="submit" class="std_btn" id="ResetPW">Reset My Password</button>
			</form>
			
			<a class="std_btn" href="/UserProfiles/password_reset">Reset My Password</a>
		</div>
	</div>
	-->


{% endblock %}
