# Fill in your email configuration and rename this file to "secret_settings.py"
# Email Konfiguration eintragen und diese Datei in "secret_settings.py" umbenennen
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'myhost.smtp.net'
EMAIL_HOST_USER = 'myusername'
EMAIL_HOST_PASSWORD = 'mypw'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
DEFAULT_FROM_EMAIL = "pvlogger@pvpi.de"
